@model Ticket.Presentation.ViewModels.VersionViewModel
@{ ViewData["Title"] = "Version"; }


<script>function SaveChanges() {

        var myForm = document.getElementsByName('frmVersion');

        var fileupload = $('[name="File"]').get(0);
        var files = fileupload.files;

        var fd = new FormData(myForm[0]);
        fd.append('File', files[0]);

        var startDate = GetFormatedDate($("#StartDate").datepicker('getDate'));

        var endDate = GetFormatedDate($("#EndDate").datepicker('getDate'));

        fd.append("StartDate", startDate);

        fd.append("EndDate", endDate);

        $.ajax({
            type: 'POST',
            url: '../../Version/SaveVersion',
            processData: false,
            contentType: false,
            data: fd,
            success: function () {



                Swal.fire({
                    icon: 'success',
                    title: 'İşlem Başarılı',
                    showConfirmButton: true,
                    timer: 1500
                })

                javascript: window.history.back();
            }
        });

    }</script>


<div class="col-lg-12">
    <div class="card card-custom gutter-b example example-compact">
        <form class="form" name="frmVersion">
            <div class="card-body">
                <input type="hidden" value="@Model.Id" name="Id" />
                <div class="form-group">
                    <label>Müşteri:</label>
                    <select class="form-control" name="CardCode"></select>
                </div>
                <div class="form-group">
                    <label>Ürün:</label>
                    <select class="form-control" name="ProductId"></select>
                </div>
                <div class="form-group">
                    <label>Başlangıç Tarihi:</label>
                    <input type="text" class="form-control form-control-solid" id="StartDate" />
                </div>
                <div class="form-group">
                    <label>Bitiş Tarihi:</label>
                    <input type="text" class="form-control form-control-solid" id="EndDate" value="@Model.EndDate" />
                </div>
                <div class="form-group">
                    <label>Periyod:</label>
                    <input type="number" class="form-control form-control-solid" name="Installment" value="@Model.Installment" />
                </div>
                <div class="form-group">
                    <label>Para Birimi:</label>
                    @Html.DropDownList("Currency", new List<SelectListItem> {
                        new SelectListItem { Text = "TRY", Value = "TRY" },
                        new SelectListItem { Text = "USD", Value = "USD" },
                        new SelectListItem { Text = "EUR", Value = "EUR" }
               }, new { @class = "form-control form-control-solid" })
                </div>
                <div class="form-group">
                    <label>Fiyat:</label>
                    <input type="number" class="form-control form-control-solid" name="Price" value="@Model.Price" />
                </div>
                <div class="form-group">
                    <label>Not:</label>
                    <input type="text" class="form-control form-control-solid" name="Note" value="@Model.Note" />
                </div>
                <div class="form-group">
                    <label>Dosya Eki:</label>
                    <input type="file" name="File" value="@Model.Attachment" />

                    @if (!string.IsNullOrEmpty(Model.Attachment))
                    {
                        <a href="@Model.Attachment">@Model.Attachment</a>
                    }

                </div>
            </div>
            <div class="card-footer">
                <button type="button" onclick="SaveChanges()" class="btn btn-primary mr-2">Kaydet</button>
                <button type="button" onclick="javascript:window.history.back();" class="btn btn-secondary">İptal</button>
            </div>
        </form>
    </div>
</div>

<script>

    $(document).ready(function () {

        RenderDatePicker('StartDate', '@Model.StartDate');
        RenderDatePicker('EndDate', '@Model.EndDate');

        var callback=function() {

            if (@Model.Id!= 0) {
                $("[name=CardCode]").val('@Model.CardCode');
                $("[name=ProductId]").val('@Model.ProductId');
                $("[name=Currency]").val('@Model.Currency');
            }

        }

        FillDropDown("/JsonObject/GetCustomersForDropDown", "CardCode",'', null, callback);
        FillDropDown("/JsonObject/GetProductsForDropDown", "ProductId",'',null, callback);

        $("#menuUser").removeClass("menu-item-open menu-item-here");
        $("#menuTicket").removeClass("menu-item-open menu-item-here");
        $("#menuCalendar").removeClass("menu-item-open menu-item-here");
        $("#menuProject").removeClass("menu-item-open menu-item-here");
        $("#menuVersion").removeClass("menu-item-open menu-item-here").addClass("menu-item-open menu-item-here");
        $("#menuCustomer").removeClass("menu-item-open menu-item-here");
        $("#menuReport").removeClass("menu-item-open menu-item-here");
    });

</script>
